body{
    margin: 0;
    background-color: black;
    overflow: hidden;
   text-align: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.start_btn{
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
}
.start_btn:hover{
    background-color: lightcoral;
}

input{
    text-align: center;
    width: 50px;
    
}
.a{
    border: 1px solid white;
    width: 500px;
    height: 50px;
}
.letter{
    font-size: 20px;
}

.text-container{
    margin-top: 100px;
}

.text{
    text-align: center;
    color: white;
    font-size: xx-large;
}

/* Dropdown Button */
.dropbtn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    background-color: #1F2022;
    text-align: center;
    margin-top: 50px;
    font-weight: 200px;
}
  
  /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #161616 ;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}